@font-face {
    font-family: ElectroHarmonix;
    src: url("../../public/fonts/electroharmonix.regular.otf") format("opentype");
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
    --black: #3f3f3f;
    --gray: #505050;
    --pad: 1.5rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--black);
}

html{
    background-color: #e6e6e6;
    font-family: 'Work Sans', sans-serif;
}

body{
    height: 100vh;
    padding: calc( var(--pad) * 1.5 ) var(--pad) var(--pad) var(--pad);
    color: var(--black);
    overflow: hidden;
}
p{
    margin-bottom: 1.2em;
}

#root{
    border: 1px solid var(--black);
    flex: 1;
    padding: var(--pad);
    overflow: hidden;
}

h1{
    --size: 60px;
    font-size: var(--size);
    line-height: var(--size);
    font-weight: 200;
}

h2{
    --size: 30px;
    font-size: var(--size);
    line-height: var(--size);
    font-weight: 200;
    margin-bottom: 12px;
}

h5{
    font-size: 14px;
    font-weight: 600;
}

header{
    margin-bottom: 24px;
}


main{
    display: grid;
    grid-template-columns: 40% 60%;
    flex: 1;
}
.d-flex{
    display: flex;
}
.f-column{
    flex-direction: column;
}

.light-text{
    color: var(--gray);
    font-weight: 600;
}
.monospace{
    font-family: monospace;
}

.glitch_container,
.routes_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}
.routes_container{
    align-items: flex-end;
}

.glitch_container{
    align-items: flex-start;
}

.page{
    position: absolute;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    justify-content: flex-end;
    text-align: end;
    padding: 1em;
}

.page ul{
    list-style-type: none;
}

.vertical_glitch{
    position: absolute;
    top: 0;
    font-size: 50px;   
    word-break: keep-all;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-top: 24px;
    font-family: ElectroHarmonix;
    letter-spacing: -.3em;
}
hr{
    border: 0;
}
.spacer{
    margin-bottom: 12px;
}

.scale:hover{
    font-size: 1.2em;
    transition: all 1s;
}

@media (max-width: 570px){
    :root{
        --pad: 1em;
    }

    body{
        padding: calc( var(--pad) * 3 ) var(--pad) var(--pad) var(--pad);
    }

    .page{
        font-size: 14px;
    }
}

@media (max-width: 768px){
    main{
        grid-template-columns: 30% 70%;
    }
    .page{
        justify-content: flex-start;
    }
}

::-webkit-scrollbar {
    width: 3px;
}
   
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.09);
}
   
::-webkit-scrollbar-thumb {
    background-color: var(--black);
}
