nav{
    position: absolute;
    top: 16px;
    left: var(--pad);
    display: flex;
    gap: 24px;
}

nav>a{
    display: flex;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: var(--black);
    font-weight: 200;
}

@media (max-width: 570px){
    nav{
        top: 28px;
        left: 16px;
    }
}