nav{
    position: absolute;
    top: 12px;
    left: var(--pad);
    display: flex;
    gap: 24px;
}

nav>div{
    display: flex;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: var(--black);
    font-weight: 200;
}